* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search__box {
  display: flex;
  font: inherit;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: solid 2px;
  font-weight: 600;
}

.cards__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.cards__img {
  width: 80px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.34);
}

.country__description {
  padding: 0;
}

.country__container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50px;
}

.country__flag {
  box-shadow: 4px 4px 1000px 440px rgba(35, 168, 2, 0.34);
}

.country__name {
  font-weight: 900;
  font-size: 55px;
}

.country__description {
  margin-left: 50px;
}

.country__item {
  list-style: none;
  font-weight: 700;
  font-size: 30px;
}

.country__span {
  font-weight: 400;
}
